/*main styles.css*/

body {
    background-color: #e9ebee;
}

.caps {
    text-transform: uppercase;
}

#root {
    padding: 5%;
}







/*hide search buttons*/

#go,
#go-video,
#go-rest {
    display: none;
}







/*scocial buttons*/

.fb-like {
    padding: 5%;
    background-color: #b5e3f9;
    border-radius: 10%;
}







/*shadows*/

.shadow {
    -webkit-box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
    -moz-box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
    box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
}


.txt-shadow-white {
    text-shadow: 1px 1px 2px white;
}

.txt-shadow-black {
    text-shadow: 1px 1px 2px black;
}







/*borders*/

.border {
    border: 1px solid;
    border-color: #8e804e;
    border-radius: 2%;
}

.border-10 {
    border: 1px solid;
    border-color: #8e804e;
    border-radius: 10%;
}





/*padding*/

.overview-padding {
    padding: 3%;
}





/*color*/

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

.green-background {
    background: #506151;
}

button>a:hover {
    color: yellow;
    background: none;
    border: 0;
}

a:hover,
button:hover {
    text-transform: uppercase;
    z-index: 1;
}

div>ol>li>a:hover {
    color: white;
    background: black;
    padding: 10%;
    border: 5px solid;
    border-color: #8e804e;
    border-radius: 66.66%;
}

.red-background {
    background: #f1eaea;
}

.blue-background {
    background: #b7c3bf;
}

.white-background {
    background: white;
}









/*grid*/

.row {
    background-color: white;
}







/*side menu Last Fm*/

.fixed {
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 0px;
    max-width: 450px;
    padding: 3%;
    font-size: 12px;
    background-color: white;
}





@media screen and (max-width: 1700px) {
    #menu-list {
        display: none;
    }
}