body {
    background-color: #e9ebee;
}

#root {
    padding: 5%;
}

#go,
#go-rest {
    display: none;
}

.fb-like {
    padding: 5%;
    background-color: #b5e3f9;
    border-radius: 10%;
}

.shadow {
    -webkit-box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
    -moz-box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
    box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
}

.border {
    border: 1px solid;
    border-color: #8e804e;
    border-radius: 2%;
}

.border-10 {
    border: 1px solid;
    border-color: #8e804e;
    border-radius: 10%;
}


.txt-shadow-white {
    text-shadow: 1px 1px 2px white;
}

.txt-shadow-black {
    text-shadow: 1px 1px 2px black;
}

.row {
    background-color: white;
}

.overview-padding {
    padding: 3%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

.green-background {
    background: #506151;
}

.fixed {
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 0px;
    max-width: 270px;
    min-height: 1500px;
    padding: 3%;
    font-size: 12px;
    background-color: white;
}

a:hover {
    color: limegreen;
}

.red-background {
    background: #f1eaea;
}

.blue-background {
    background: #b7c3bf;
}

.white-background {
    background: white;
}

.caps {
    text-transform: uppercase;
}

@media screen and (max-width: 1700px) {
    #menu-list {
        display: none;
    }
}