body {
    background-color: ghostwhite;
}

#root {
    padding: 5%;
}

#go,
#go-rest {
    display: none;
}

.fb-like {
    padding: 5%;
    background-color: #b5e3f9;
    border-radius: 10%;
}

.shadow {
    -webkit-box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
    -moz-box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
    box-shadow: 10px 5px 5px 1px rgba(224, 220, 224, 1);
}

.border {
    border: 1px solid;
    border-color: #8e804e;
    border-radius: 10%;
}

.row {
    background-color: ghostwhite;
}

.overview-padding {
    padding: 3%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green-background {
    background: green;
}

.red-background {
    background: #f1eaea;
}

.blue-background {
    background: #e8f5f1;
}

.caps {
   text-transform: uppercase;
}